<style>
    .preloader {
        position: absolute !important;
    }

    .block_area-episodes .block_area-content {
        padding-top: 10px;
    }

    .episodes-ul {
        display: block;
        margin: 0 -5px;
    }

    .episodes-ul .item.active {
        background: #5a2e98;
        color: #fff;
    }

    .episodes-ul .item:visited {
        background: #2f2242;
        color: #888;
    }

    .episodes-ul .item {
        float: left;
        display: block;
        cursor: pointer;
        width: calc(6.25% - 10px);
        margin: 0 5px 10px;
        line-height: 32px;
        background: #303030;
        color: #929292;
        text-align: center;
        border-radius: 3px;
    }
</style>

<section class="block_area block_area-option"
    style="padding-top: 100px; display: flex; justify-content: flex-end; padding-right: 100px;">
    <button class="btn btn-danger btnDeleted" data-id="<%= anime.anime_id %>"
        data-number="<%= episodeNumber %>">Xóa</button>
</section>

<section class="block_area block_area-detail position-relative" style="height: 800px; margin: 100px 100px 0 100px;">
    <div class="player_video">
        <div class="preloader">
            <div class="preloader-icon"></div>
            <span>Loading...</span>
        </div>
        <div id="video_player"></div>
    </div>
</section>
<section class="block_area block_area-episodes">
    <div class="block_area-content">
        <div class="title_server">
            Server:
        </div>
        <div id="episodes-page-1" class="episodes-ul" data-page="1">
            <% if(totalVideoHLS.countHLS===1 ) { %>
                <div class="item ep-item active" data-server="hls" data-number="1" data-id="1">
                    HLS Server
                </div>
                <% } %>
                    <% if(totalVideoLh3Docs.countDriverDocs===1 ) { %>
                        <div class="item ep-item" data-server="lh3" data-number="1" data-id="1">
                            LH3 Server
                        </div>
                        <% } %>
                            <% if(totalVideoTiktok.countTiktok===1 ) { %>
                                <div class="item ep-item" data-server="tiktok" data-number="1" data-id="1">
                                    Tiktok Server
                                </div>
                                <% } %>



                                    <div class="clearfix"></div>
        </div>
    </div>
</section>

<script src="//cdn.jsdelivr.net/npm/cdnbye@latest"></script>
<link rel="shortcut icon" href="/assets/img/fav.png" type="image/x-icon" />
<link href="/assets/css/player.css?v=1.3" rel="stylesheet" />
<script src="//cdn.jsdelivr.net/npm/cdnbye@latest/dist/jwplayer.provider.hls.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/assets/js/jwplayer.js?ver=8.27.1"></script>
<script>
    let playerServer = {
        type: "hls",
        sourceUrl: "<%= hlsServer %>"
    };
    jwplayer.key = "ITWMv7t88JGzI0xPwW8I0+LveiXX9SWbfdmt0ArUSyc=";
    $(".preloader").fadeOut("slow");

    const playerInstance = jwplayer("video_player");
    // const defaultVideoSource = { file: "<%=data.link%>", type: "hls" };
    const defaultVideoSource = { file: playerServer.sourceUrl, type: playerServer.type };
    playerInstance.setup({
        width: "100%",
        height: "100%",
        autostart: true,
        controls: true,
        mute: true,
        image: "/assets/img/bg.jpg",
        primary: "hlsjs",
        preload: true,
        aspectratio: "16:9",
        jwplayer8quality: true,
        playbackRateControls: [0.5, 0.75, 1, 1.5, 2],
        skin: { active: "rgb(221,51,51)" },
        sources: [defaultVideoSource],
        advertising: <%= isAllowDomainScript == 0 ? '{client: "vast", skipoffset: "5", adscheduleid: "XXX", schedule: [{tag: "/xxx.xml"}]}' : 'null' %>
    });

    function updatePlayerSource(server) {
        let sourceUrl = "";
        if (server === "hls") {
            sourceUrl = "<%= hlsServer %>";
        } else if (server === "tiktok") {
            sourceUrl = "<%= tiktokServer %>";
        } else if (server === "lh3") {
            sourceUrl = "<%= lh3Server %>";
        }
        playerServer.type = server;
        playerServer.sourceUrl = sourceUrl;

        // Reload the player with the new source
        playerInstance.load([{ file: playerServer.sourceUrl, type: server }]);
        playerInstance.play();
    }

    $(document).on("click", ".ep-item", function (e) {
        e.preventDefault();
        const server = $(this).data("server");
        updatePlayerSource(server);
        $(".ep-item").removeClass("active");
        $(this).addClass("active");
    });

    playerInstance.on("ready", function () {
        playerInstance.addButton('<svg xmlns="http://www.w3.org/2000/svg" class="jw-svg-icon jw-svg-icon-rewind2" viewBox="0 0 240 240" focusable="false"><path d="m 25.993957,57.778 v 125.3 c 0.03604,2.63589 2.164107,4.76396 4.8,4.8 h 62.7 v -19.3 h -48.2 v -96.4 H 160.99396 v 19.3 c 0,5.3 3.6,7.2 8,4.3 l 41.8,-27.9 c 2.93574,-1.480087 4.13843,-5.04363 2.7,-8 -0.57502,-1.174985 -1.52502,-2.124979 -2.7,-2.7 l -41.8,-27.9 c -4.4,-2.9 -8,-1 -8,4.3 v 19.3 H 30.893957 c -2.689569,0.03972 -4.860275,2.210431 -4.9,4.9 z m 163.422413,73.04577 c -3.72072,-6.30626 -10.38421,-10.29683 -17.7,-10.6 -7.31579,0.30317 -13.97928,4.29374 -17.7,10.6 -8.60009,14.23525 -8.60009,32.06475 0,46.3 3.72072,6.30626 10.38421,10.29683 17.7,10.6 7.31579,-0.30317 13.97928,-4.29374 17.7,-10.6 8.60009,-14.23525 8.60009,-32.06475 0,-46.3 z m -17.7,47.2 c -7.8,0 -14.4,-11 -14.4,-24.1 0,-13.1 6.6,-24.1 14.4,-24.1 7.8,0 14.4,11 14.4,24.1 0,13.1 -6.5,24.1 -14.4,24.1 z m -47.77056,9.72863 v -51 l -4.8,4.8 -6.8,-6.8 13,-12.99999 c 3.02543,-3.03598 8.21053,-0.88605 8.2,3.4 v 62.69999 z"></path></svg>', "Next 10s", function () {
            playerInstance.seek(playerInstance.getPosition() + 10);
        }, "Next 10s");
        playerInstance.addButton('<svg xmlns="http://www.w3.org/2000/svg" class="jw-svg-icon jw-svg-icon-rewind" viewBox="0 0 240 240" focusable="false"><path d="M113.2,131.078a21.589,21.589,0,0,0-17.7-10.6,21.589,21.589,0,0,0-17.7,10.6,44.769,44.769,0,0,0,0,46.3,21.589,21.589,0,0,0,17.7,10.6,21.589,21.589,0,0,0,17.7-10.6,44.769,44.769,0,0,0,0-46.3Zm-17.7,47.2c-7.8,0-14.4-11-14.4-24.1s6.6-24.1,14.4-24.1,14.4,11,14.4,24.1S103.4,178.278,95.5,178.278Zm-43.4,9.7v-51l-4.8,4.8-6.8-6.8,13-13a4.8,4.8,0,0,1,8.2,3.4v62.7l-9.6-.1Zm162-130.2v125.3a4.867,4.867,0,0,1-4.8,4.8H146.6v-19.3h48.2v-96.4H79.1v19.3c0,5.3-3.6,7.2-8,4.3l-41.8-27.9a6.013,6.013,0,0,1-2.7-8,5.887,5.887,0,0,1,2.7-2.7l41.8-27.9c4.4-2.9,8-1,8,4.3v19.3H209.2A4.974,4.974,0,0,1,214.1,57.778Z"></path></svg>', "Back 10s", function () {
            playerInstance.seek(playerInstance.getPosition() - 10);
        }, "Back 10s");
    });


    $(document).ready(function () {
        $(document).on("click", ".btnDeleted", function (e) {
            e.preventDefault();
            const animeID = $(this).data("id");
            const episodeNumber = $(this).data("number");
            console.log(animeID, episodeNumber)
            $.ajax({
                url: "/admin/delete-episode",
                type: "delete",
                data: {
                    episodeNumber: episodeNumber,
                    animeID: animeID
                },
                success: function (response) {
                    window.location.href = window.location.origin + "/admin";
                },
                error: function (xhr, status, error) {
                    console.error("Error deleting episode:", error);
                }
            });
        });
    });

</script>